body{
    direction: rtl !important;
    text-align: right !important;
}
.info > .category, .info > .date, .info > .author{
    float: right;
}
.nav-next{
    float: left !important;
}
.nav-previous{
    float: right !important;
}
